@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body{
  background-color: rgb(255, 210, 19);
  color: rgb(64, 64, 64);
  font-family: 'Special Elite', cursive, Arial, sans-serif;
  font-size: 2em; 
  margin-top: 5%;
  text-align: center;
}

h1{
  letter-spacing: 0.1em;
}

a:link, a:visited {
  color: rgb(64, 64, 64);
}
